#### The purpose of this document is to help optimize marketing expenses.
#### Will investigate how clients behave, how different marketing sources contribute to the business.
#### And how much money do clients actually bring in.

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.offline as py
import plotly.graph_objs as go
from plotly.offline import iplot
from plotly.graph_objs import Scatter


from scipy import stats as st
import numpy as np

import seaborn as sns
#import squarify

import math
import numpy as np
from scipy import stats as st
import numpy as np

import sqlite3

pd.options.display.max_columns = None

### Step 1. Download the data and prepare it for analysis

In [2]:
visits_df = pd.read_csv('visits_log_us.csv')
orders_df = pd.read_csv('orders_log_us.csv')
osts_df = pd.read_csv('costs_us.csv')

#### for visits_df:

In [3]:
visits_df.head()

,Device,End Ts,Source Id,Start Ts,Uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168

#### find out size of DF

In [4]:
visits_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  object
 1   End Ts     359400 non-null  object
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  object
 4   Uid        359400 non-null  uint64
dtypes: int64(1), object(3), uint64(1)
memory usage: 79.3 MB

In [5]:
visits_df.describe()

           Source Id           Uid
count  359400.000000  3.594000e+05
mean        3.750515  9.202557e+18
std         1.917116  5.298433e+18
min         1.000000  1.186350e+13
25%         3.000000  4.613407e+18
50%         4.000000  9.227413e+18
75%         5.000000  1.372824e+19
max        10.000000  1.844668e+19

In [6]:
visits_df.describe(include = ['object'])

         Device               End Ts             Start Ts
count    359400               359400               359400
unique        2               224760               224303
top     desktop  2017-11-24 16:51:00  2017-11-24 16:06:00
freq     262567                   23                   19

In [7]:
visits_df.shape

(359400, 5)

In [8]:
visits_df['Device'].value_counts()

desktop    262567
touch       96833
Name: Device, dtype: int64

#### for orders_df:

In [9]:
orders_df.head()

                Buy Ts  Revenue                   Uid
0  2017-06-01 00:10:00    17.00  10329302124590727494
1  2017-06-01 00:25:00     0.55  11627257723692907447
2  2017-06-01 00:27:00     0.37  17903680561304213844
3  2017-06-01 00:29:00     0.55  16109239769442553005
4  2017-06-01 07:58:00     0.37  14200605875248379450

#### find out size of DF

In [10]:
orders_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  object
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: float64(1), object(1), uint64(1)
memory usage: 4.4 MB

In [11]:
orders_df.describe()

            Revenue           Uid
count  50415.000000  5.041500e+04
mean       4.999647  9.098161e+18
std       21.818359  5.285742e+18
min        0.000000  3.135781e+14
25%        1.220000  4.533567e+18
50%        2.500000  9.102274e+18
75%        4.890000  1.368290e+19
max     2633.280000  1.844617e+19

In [12]:
orders_df.describe(include = ['object'])

                     Buy Ts
count                 50415
unique                45991
top     2018-05-31 10:13:00
freq                      9

In [13]:
orders_df.shape

(50415, 3)

#### for costs_df:

In [14]:
costs_df.head()

NameError: name 'costs_df' is not defined

#### find out size of DF

In [ ]:
costs_df.info(memory_usage='deep')

In [ ]:
costs_df.describe()

In [ ]:
costs_df.describe(include = ['object'])

In [ ]:
costs_df.shape

In [ ]:
costs_df['source_id'].value_counts()

#### for: visits_df
#### The visits dataframe is about 80 MB.
#### The End Ts and Start Ts should be changed to datetime . 
#### The Device has only two types, will be changed into category.
#### change all columns names to lowercase
#### remove space from columns names

In [ ]:
visits_df.columns = visits_df.columns.str.lower()

In [ ]:
visits_df.rename(columns = {'end ts': 'end_ts', 'start ts': 'start_ts', 'source id':'source_id'}, inplace = True)

In [ ]:
visits_df['device'] = visits_df['device'].astype('category')

In [ ]:
visits_df['end_ts'] = pd.to_datetime(visits_df['end_ts'])

In [ ]:
visits_df['start_ts'] = pd.to_datetime(visits_df['start_ts'])

In [ ]:
visits_df.info(memory_usage='deep')

#### Size has changed from 80 to 11 MB

#### for: orders_df
#### The Buy Ts should be changed to datetime . 
#### change all columns names to lowercase
#### remove space from columns names

In [ ]:
orders_df.columns = orders_df.columns.str.lower()

In [ ]:
orders_df.rename(columns = {'buy ts': 'buy_ts'}, inplace = True)

In [ ]:
orders_df['buy_ts'] = pd.to_datetime(orders_df['buy_ts'])

In [ ]:
orders_df.info(memory_usage='deep')

#### Size has changed from 4.5 to 1.2 MB

#### for: costs_df
#### source_id has only 6 values. Will be changed into category.
#### dt will be changed to datetime

In [ ]:
costs_df['dt'] = pd.to_datetime(costs_df['dt'])

In [ ]:
costs_df['source_id'] = costs_df['source_id'].astype('category')

In [ ]:
costs_df.info(memory_usage='deep')

<font color='Grenn'> 
### <u>V1 REVIEWER COMMENT</u>
<br/>
<div class="alert alert-block alert-success">
Well prepared data is half a job 👍👍👍<br/>
</div>
<div class="alert alert-block alert-warning">
Please don't forget to give comments about every action you are taking. It is a good style, good practice to make the report more presentable and self selling. Pepople who would read the notebook might not know you personally but they will make their opinion about your skills basing on it.
</div>
</font>

### Step 2. Make reports and calculate metrics:

#### 1. Product: How many people use it every day, week, and month?

#### add columns for day, week, month, year

In [ ]:
visits_df['day'] = pd.to_datetime(visits_df['start_ts'].astype('datetime64[D]'))

In [ ]:
visits_df['week'] = visits_df['day'].astype('datetime64[W]')

In [ ]:
visits_df['month'] = visits_df['day'].astype('datetime64[M]')

In [ ]:
visits_df['year'] = visits_df['day'].astype('datetime64[Y]')

In [ ]:
visits_df = visits_df.sort_values(by = 'start_ts').reset_index()

#### calculations for DAY:

In [ ]:
n_users_day =  visits_df.groupby('day', as_index=True).agg({'uid':'nunique'}).sort_values(by = 'day').reset_index()

In [ ]:
n_users_day.rename(columns = {'uid': 'n_users'}, inplace = True)

#### calculations for WEEK:

In [ ]:
n_users_week = visits_df.groupby(['year','week'], as_index=True).agg({'uid':'nunique'}).sort_values(by = ['year','week']).reset_index()

In [ ]:
n_users_week.rename(columns = {'uid': 'n_users'}, inplace = True)

#### calculations for MONTH:

In [ ]:
n_users_month = visits_df.groupby(['year','month'], as_index=True).agg({'uid':'nunique'}).sort_values(by = ['year','month']).reset_index()

In [ ]:
n_users_month.rename(columns = {'uid': 'n_users'}, inplace = True)

#### Users per Day

In [ ]:
plt.scatter(n_users_day['day'],n_users_day['n_users'],color='b', s = (10, 5))

In [ ]:
DAU = int(n_users_day['n_users'].mean())
print('There are:', DAU, 'daily users on averege.')

#### Users per Week

In [ ]:
plt.scatter(n_users_week['week'],n_users_week['n_users'],color='b', s = (10, 5))

In [ ]:
WAU =  int(n_users_week['n_users'].mean())
print('There are:',WAU, 'weekly users on averege.')

#### Users per Mounth

In [ ]:
plt.scatter(n_users_month['month'],n_users_month['n_users'],color='b', s = (10, 5))

In [ ]:
MAU = int(n_users_month['n_users'].mean())
print('There are:',MAU , 'monthly users on averege.')

#### Conclusion:
#### From May until September, there are usually about 500 users per day.
#### From October until April there are about 1000 users per day.

In [ ]:
sticky_factor = (DAU/WAU)
print('sticky factor DAU/WAU:{:.2f}'.format(sticky_factor))

In [ ]:
sticky_factor = (DAU/MAU)
print('sticky factor DAU/MAU:{:.2f}'.format(sticky_factor))

#### 2. Product: How many sessions are there per day? (One user might have more than one session.)

#### calculations for DAY:

In [ ]:
n_sessions_day =  visits_df.groupby('day', as_index=True).agg({'uid':'count'}).sort_values(by = 'day').reset_index()

In [ ]:
n_sessions_day.rename(columns = {'uid': 'n_users'}, inplace = True)

#### Sessions per Day

In [ ]:
plt.scatter(n_sessions_day['day'],n_sessions_day['n_users'],color='b', s = (10, 5))

In [ ]:
print('There are:', int(n_sessions_day['n_users'].mean()), 'daily sessions on averege.')

#### The session per day graph and the users per day graph, are similar. 
#### The average sessions number is slightly bigger than the users number,
#### 987 / 907 = 1.088

In [ ]:
sessions_per_user = visits_df.groupby(['year', 'month']).agg({'uid':['count', 'nunique']})
sessions_per_user.columns = ['n_sessions', 'n_users']
sessions_per_user['sessions_per_user'] = (sessions_per_user['n_sessions'] / sessions_per_user['n_users']).round(2)
sessions_per_user

#### on the Monthly scale there are about 30% more sessions then users

#### 3. Product:What is the length of each session?

#### find the length of each session in minutes.

In [ ]:
visits_df['length_minutes'] = ((visits_df['end_ts'] - visits_df['start_ts']).dt.seconds) / 60

In [ ]:
length_0 = visits_df[visits_df['length_minutes'] == 0].count()
print('There are:', length_0[0], 'sessions with a length of 0')

#### remove sessions with length = 0

In [ ]:
visits_df.drop(visits_df[visits_df.length_minutes == 0].index, inplace=True)

In [ ]:
avg = visits_df['length_minutes'].mean()
print('the average length of each session is:{:.2f} minutes'.format(avg))

In [ ]:
visits_df['length_minutes'].hist(bins=50)

#### the lessons says to use mode() , I do not think it is a currect figure.

In [ ]:
visits_df['length_minutes'].mode()

#### there are very few sessions with a lenth of more then 100

In [ ]:
visits_df['length_minutes'].hist(bins=50, range = (0, 100))

#### most of the sessions are up to 20 minutes long

In [ ]:
visits_df['length_minutes'].hist(bins=20, range = (0, 20))

#### there are some short sessions, and very few that are longer then 40 minutes.
#### the average for that slice is:

In [ ]:
slice_1_40 = visits_df[(visits_df['length_minutes'] > 1) & (visits_df['length_minutes'] < 40)]
avg = slice_1_40['length_minutes'].mean()
print('the average for the slice of between 1 to 40 minutes is: {:.2f} minutes'.format(avg))

#### 4. Product: How often do users come back?

#### count how many times each user has came back

In [ ]:
visits_df['count'] = visits_df.sort_values(by = 'start_ts', ascending=True).groupby('uid')['uid'].transform('count')

#### slice of users with more then 1 use.

In [ ]:
visits_df_come_back = visits_df[visits_df['count'] > 1]

In [ ]:
visits_df_come_back = visits_df_come_back.sort_values( by = ['uid', 'start_ts'], ascending=True)

#### calculate the differance between visits

In [ ]:
visits_df_come_back['differance'] = visits_df_come_back.groupby('uid')['day'].diff()

#### remove lines with differance = 0 or Nat

In [ ]:
visits_df_come_back = visits_df_come_back[~((visits_df_come_back['differance'].isnull()) | (visits_df_come_back['differance'] == '0 days'))]

In [ ]:
visits_df_come_back['differance'] = visits_df_come_back['differance'].astype('timedelta64[D]')

In [ ]:
visits_df_come_back['differance'].hist(bins=50)

#### there are very few useres that come back after more then 100 days

In [ ]:
visits_df_come_back['differance'].hist(bins=50, range = (0, 100))

In [ ]:
visits_df_come_back['differance'].mean()

#### the lessons says to use mode() , I do not think it is a currect figure.

In [ ]:
visits_df_come_back['differance'].mode()

#### among the returning users:  most of them come back every day.
#### the average for all users is every 36 days.

### Sales: 1. When do people start buying?

#### merge the visits and the order tables

#### Make the db in memory

In [ ]:
conn = sqlite3.connect(':memory:')

#### convert uid from int to float

In [ ]:
visits_df['uid'] = visits_df['uid'].astype(str)
orders_df['uid'] = orders_df['uid'].astype(str)

#### write the tables

In [ ]:
visits_df.to_sql('visits_DB', conn, index=False)
orders_df.to_sql('orders_DB', conn, index=False)

#### merge the tables

In [ ]:
qry = '''
SELECT
    visits_DB.device, visits_DB.end_ts, visits_DB.source_id, visits_DB.start_ts, visits_DB.uid, visits_DB.day, visits_DB.week, visits_DB.month, visits_DB.year, visits_DB.length_minutes, visits_DB.count,
    orders_DB.revenue
FROM
    visits_DB LEFT JOIN orders_DB on
    buy_ts between start_ts and end_ts
    and visits_DB.uid = orders_DB.uid   
'''

visits_df = pd.read_sql_query(qry, conn)

In [ ]:
visits_df['uid'] = visits_df['uid'].astype(np.uint64)
orders_df['uid'] = orders_df['uid'].astype(np.uint64)
visits_df['revenue'].fillna(0, inplace=True)

visits_df['day'] = visits_df['day'].astype('datetime64[D]')
visits_df['week'] = visits_df['week'].astype('datetime64[D]')
visits_df['month'] = visits_df['month'].astype('datetime64[D]')
visits_df['year'] = visits_df['year'].astype('datetime64[D]')

visits_df['device'] = visits_df['device'].astype('category')
visits_df['end_ts'] = pd.to_datetime(visits_df['end_ts'])
visits_df['start_ts'] = pd.to_datetime(visits_df['start_ts'])

#### get the date of the first order for each user and registration date

In [ ]:
registration_date = visits_df.groupby('uid')['start_ts'].min()

In [ ]:
registration_date.name = 'registration_date'

In [ ]:
visits_df = visits_df.join(registration_date, on = 'uid')

In [ ]:
visits_df['registration_date'] = visits_df['registration_date'].astype('datetime64[D]')

In [ ]:
first_order_date_by_customers = visits_df[visits_df['revenue'] > 0]

In [ ]:
first_order_date_by_customers = first_order_date_by_customers.groupby('uid')['start_ts'].min()

In [ ]:
first_order_date_by_customers.name = 'first_order_date'

In [ ]:
visits_df =visits_df.join(first_order_date_by_customers, on = 'uid')

In [ ]:
visits_df['first_order_date'] = visits_df['first_order_date'].astype('datetime64[D]')

#### how many days have passed since registration and first order

In [ ]:
def reg_to_order(row):
    registration_date = row['registration_date']
    first_order_date = row['first_order_date']
    uid = row['uid']
    
    s = str(first_order_date)
    if s == 'NaT':
        return(-1)

    registration_date = registration_date.date()
    first_order_date = first_order_date.date()    
    days_diff = (first_order_date - registration_date)
    return days_diff.days  
    
visits_df['reg_to_order'] = visits_df.apply(reg_to_order, axis = 1)

In [ ]:
first_order_df = visits_df[visits_df['reg_to_order'] >= 0]
first_order_df = first_order_df.groupby('uid')['reg_to_order'].mean().reset_index()

In [ ]:
first_order_df['reg_to_order'].hist()

In [ ]:
first_order_df['reg_to_order'].describe()

#### the spread is very narrow.
#### Will look at costumers how made first order within a month of registration.

In [ ]:
first_order_df['reg_to_order'].hist(bins = 31, range = (0, 31))

In [ ]:
first_month = first_order_df[first_order_df['reg_to_order'] <= 31].count()[1]
first_day = first_order_df[first_order_df['reg_to_order'] == 0].count()[1]
print('out of:', first_month, 'who made made a purchase in the first month of registration,', first_day, 'made a purchase on the same day')

#### sort out rows with purchases

In [ ]:
visits_df_orders = visits_df[visits_df['revenue'] > 0].reset_index()

In [ ]:
# get the first months

In [ ]:
visits_df_orders['first_order_month'] = visits_df_orders['first_order_date'].astype('datetime64[M]')

In [ ]:
visits_df_orders['order_month'] = visits_df_orders['start_ts'].astype('datetime64[M]')

#### tracking changes in the number of active buyers within a single cohort.

In [ ]:
visits_df_orders.pivot_table(index = 'first_order_month', columns = 'order_month', values = 'uid', aggfunc = 'nunique').fillna('')

#### conclusions:
#### The number of active customers within a cohort decreases after the first month.

#### calculate average revenue per user for each month:

#### group the data by first_order_month cohorts and by purchase month

In [ ]:
orders_grouped_by_cohorts = visits_df_orders.groupby(['first_order_month', 'order_month']).agg({'revenue':'sum', 'uid':'nunique'})

In [ ]:
orders_grouped_by_cohorts.rename(columns = {'uid':'n_buyers'}, inplace = True)

#### find revenue_per_user. divide revenue by the number of customer_id values:

In [ ]:
orders_grouped_by_cohorts['revenue_per_user'] = orders_grouped_by_cohorts['revenue'] / orders_grouped_by_cohorts['n_buyers']

In [ ]:
orders_grouped_by_cohorts.pivot_table(index='first_order_month',columns='order_month',values='revenue_per_user',aggfunc='mean').round(2).fillna('')

#### calculate the relative value:

In [ ]:
#total revenue:
revenue_total = visits_df_orders['revenue'].sum()
#amount of purchases made:
purchases_total = visits_df_orders.shape[0]
relative_value = (revenue_total / purchases_total).round(2)
print('The total average purchase size:', relative_value)

#### conclusions:
#### The first average purchase size at each cohort is similar to the total average size (4.65) .
#### During the later months the average purchase size is usually much bigger, and on the other hand the number of participating uses is drastically smaller.
#### Users who have decided to stay will keep buying.

#### calculate changes in revenue per user in relation to the time that's passed since the first purchase:

####  find the cohort's lifetime

In [ ]:
orders_grouped_by_cohorts = orders_grouped_by_cohorts.reset_index()
orders_grouped_by_cohorts['cohort_lifetime'] = orders_grouped_by_cohorts['order_month'] - orders_grouped_by_cohorts['first_order_month']

#### find number of months between the two dates:

In [ ]:
orders_grouped_by_cohorts['cohort_lifetime'] = orders_grouped_by_cohorts['cohort_lifetime'] / np.timedelta64(1,'M')

In [ ]:
orders_grouped_by_cohorts['cohort_lifetime'] = orders_grouped_by_cohorts['cohort_lifetime'].round().astype('int')

#### leave only the year and month in the cohort identifier:

In [ ]:
orders_grouped_by_cohorts['first_order_month'] = orders_grouped_by_cohorts['first_order_month'].dt.strftime('%Y-%m')

####  average revenue per user by lifetime:

In [ ]:
revenue_per_user_pivot = orders_grouped_by_cohorts.pivot_table(index='first_order_month',columns='cohort_lifetime',values='revenue_per_user',aggfunc='mean').round(2)
revenue_per_user_pivot.fillna('')

In [ ]:
plt.figure(figsize=(13, 9))
plt.title('average revenue per user by lifetime')
sns.heatmap(revenue_per_user_pivot, annot=True, fmt='.1f', linewidths=1, linecolor='gray')

#### conclusions:
#### In the month following the month of the first purchase there is as increase in the average revenue per user.
#### For the 2017-06 cohort expect for the last month, has kept a much bigger than average revenue.
#### The 2017-09 , 2017-12 cohorts also have significantly higher than average revenue per user.
#### There are two values that pop up as very high: 127.9, 57.1 
#### They are outliers .
#### The more common high values are between 20 and 35 .
#### These values are misleading, because there is a big drop in amount of users the average revanue goes up.

#### calculate the retention rate:

#### find initial number of users in a cohort and divide it by the number of users for each subsequent month.

In [ ]:
initial_users_count = orders_grouped_by_cohorts[orders_grouped_by_cohorts['cohort_lifetime'] == 0][['first_order_month','n_buyers']]

In [ ]:
initial_users_count = initial_users_count.rename(columns={'n_buyers':'cohort_users'})

In [ ]:
orders_grouped_by_cohorts = orders_grouped_by_cohorts.merge(initial_users_count, on = 'first_order_month')

#### calculate the retention rate

In [ ]:
orders_grouped_by_cohorts['retention'] = orders_grouped_by_cohorts['n_buyers']/orders_grouped_by_cohorts['cohort_users']

In [ ]:
retention_pivot = orders_grouped_by_cohorts.pivot_table(index='first_order_month',columns='cohort_lifetime',values='retention',aggfunc='sum')

In [ ]:
sns.set(style='white')
plt.figure(figsize=(13, 9))
plt.title('Cohorts: User Retention')
sns.heatmap(retention_pivot, annot=True, fmt='.1%', linewidths=1, linecolor='gray');

#### Conclusion: the retention rate is usually about 1%

#### calculate the Churn Rates:
#### compare the number of users with the number at the previous period.

In [ ]:
orders_grouped_by_cohorts['churn_rate'] = orders_grouped_by_cohorts.groupby(['first_order_month'])['n_buyers'].pct_change()

In [ ]:
churn_pivot = orders_grouped_by_cohorts.pivot_table(index='first_order_month',columns='cohort_lifetime',values='churn_rate',aggfunc='sum')

In [ ]:
sns.set(style='white')
plt.figure(figsize=(13, 9))
plt.title('Cohorts: Churn Rate')
sns.heatmap(churn_pivot, annot=True, fmt='.1%', linewidths=1, linecolor='gray');

#### Conclusions: the first month churn rate is very high.
#### Marketing should focus user retention during the first month since most users quite at that time.
#### There is also a significant drop in users during the second month.

### Sales: How much money do they bring? (LTV)

#### what dates are covered in the DF

In [ ]:
orders_df['buy_ts'].describe()

In [ ]:
costs_df['dt'].describe()

#### The range of expense dates coincides with that of order dates.

In [ ]:
orders_df['order_month'] = orders_df['buy_ts'].astype('datetime64[M]')
costs_df['month'] = costs_df['dt'].astype('datetime64[M]')

#### retrieve the month of each customer's first purchase:

In [ ]:
first_orders = orders_df.groupby('uid').agg({'order_month': 'min'}).reset_index()
first_orders.columns = ['uid', 'first_order_month']

#### calculate the number of new customers (n_buyers) for each month:

In [ ]:
cohort_sizes = first_orders.groupby('first_order_month').agg({'uid': 'nunique'}).reset_index()
cohort_sizes.columns = ['first_order_month', 'n_buyers']

#### build cohorts:
#### add customers' first-purchase months to the table of orders

In [ ]:
orders_ = pd.merge(orders_df,first_orders, on='uid')

#### group the table of orders by month of first purchase and month of purchase and sum up the revenue.

In [ ]:
cohorts = orders_.groupby(['first_order_month','order_month']).agg({'revenue': 'sum'}).reset_index()

#### add data on how many users made their first purchases in each month to the cohorts table:

In [ ]:
report = pd.merge(cohort_sizes, cohorts, on='first_order_month')

#### calculate gross profit 

#### there is no information on the profitability.
#### I will assume it is 50%

In [ ]:
margin_rate = .5

report['gp'] = report['revenue'] * margin_rate

#### calculate the cohort's age

In [ ]:
report['age'] = (report['order_month'] - report['first_order_month']) / np.timedelta64(1, 'M')
report['age'] = report['age'].round().astype('int')

####  calculate LTV:
####  divide the cohort's gross profit for each month by the total number of users in each cohort

In [ ]:
report['ltv'] = report['gp'] / report['n_buyers']

In [ ]:
output = report.pivot_table(
    index='first_order_month', 
    columns='age', 
    values='ltv', 
    aggfunc='mean')

output.round(2).fillna('')

In [ ]:
sns.set(style='white')
plt.figure(figsize=(13, 9))
plt.title('Cohorts: LTV')
sns.heatmap(output, annot=True, fmt='.2', linewidths=1, linecolor='gray');

#### Conclusion: after the first month, the LVT drops significantly, from between $2.3 and $3 down to values around $0.2

#### calculate CAC for each cohort:
#### find the total expenses for each month, then divide them by the number of customers in each cohort:

#### calculating the costs per month:

In [ ]:
monthly_costs = costs_df.groupby('month').sum()

#### add the data on costs to the report and calculate CAC:

In [ ]:
report_ = pd.merge(report, monthly_costs, left_on='first_order_month', right_on='month')
report_['cac'] = report_['costs'] / report_['n_buyers']

#### find ROMI by dividing LTV by CAC

In [ ]:
report_['romi'] = report_['ltv'] / report_['cac']
output = report_.pivot_table(
    index='first_order_month', 
    columns='age', 
    values='romi', 
    aggfunc='mean')

output.cumsum(axis=1).round(2).fillna('')

#### Conclusion:
#### none of the cohorts paid off.
#### the first cohort, after a year has reached 0.67 ROI 
#### cohort 2017-09 has reached 0.71 after 9 months

### Marketing: How much money was spent? Overall/per source/over time

In [ ]:
total_costs = int(costs_df['costs'].sum())
print('The total costs is: $', total_costs)

In [ ]:
costs_df_marketing = costs_df.pivot_table(index = 'source_id', columns = 'month', values = 'costs', aggfunc = 'sum').astype(int)

In [ ]:
sns.set(style='white')
plt.figure(figsize=(13, 9))
plt.title('How much money was spent by source')
sns.heatmap(costs_df_marketing, annot=True, fmt='', linewidths=1, linecolor='gray');

#### Total marketing costs by source:

In [ ]:
costs_df_marketing['total_marketing'] = costs_df_marketing.sum(axis=1).round()
costs_df_marketing['total_marketing']

In [ ]:
costs_df_marketing = costs_df_marketing.reset_index()

In [ ]:
fig, ax = plt.subplots(figsize = (10, 5))
ax.vlines(x = costs_df_marketing.source_id, ymin = 0, ymax = costs_df_marketing.total_marketing, color = 'purple', alpha = 0.7, linewidth = 2)
ax.scatter(x = costs_df_marketing.source_id, y = costs_df_marketing.total_marketing, s = 75, color = 'black', alpha = 0.7)

#set title
ax.set_title('Lollipop Chart for How much money was spent on marketing by source', fontdict = {'size': 15})
#set lable for Y
ax.set_ylabel('Total marketing on source')
#set ticks
ax.set_xticks(costs_df_marketing.source_id)
ax.set_xticklabels(costs_df_marketing.source_id, rotation = 90, fontdict = {'horizontalalignment' : 'center', 'size': 12})

#add text above the dot
for row in costs_df_marketing.itertuples():
    ax.text(row.source_id - 0.3, row.total_marketing + 4000, s = round(row.total_marketing))

In [ ]:
#### The most expensive source was #3 with more then $140000
#### the other expensive sources are: 1, 2, 4, 5 
#### the interesting source is #1 with costs about $21000

### How much was customer acquisition ?

In [ ]:
visits_df_orders_revenue = visits_df_orders.pivot_table(index = 'source_id', columns = 'order_month', values = 'revenue', aggfunc = 'sum').fillna(0).astype(int)

In [ ]:
sns.set(style='white')
plt.figure(figsize=(13, 9))
plt.title('customer acquisition from each of the sources')
sns.heatmap(visits_df_orders_revenue, annot=True, fmt='', linewidths=1, linecolor='gray');

In [ ]:
visits_df_orders_revenue['total_revenue'] = visits_df_orders_revenue.sum(axis=1)
visits_df_orders_revenue  = visits_df_orders_revenue.reset_index()

In [ ]:
fig, ax = plt.subplots(figsize = (10, 5))
ax.vlines(x = visits_df_orders_revenue.source_id, ymin = 0, ymax = visits_df_orders_revenue.total_revenue, color = 'purple', alpha = 0.7, linewidth = 2)
ax.scatter(x = visits_df_orders_revenue.source_id, y = visits_df_orders_revenue.total_revenue, s = 75, color = 'black', alpha = 0.7)

#set title
ax.set_title('Lollipop Chart for customer acquisition from each of the sources', fontdict = {'size': 15})
#set lable for Y
ax.set_ylabel('Total revenue on source')
#set ticks
ax.set_xticks(visits_df_orders_revenue.source_id)
ax.set_xticklabels(visits_df_orders_revenue.source_id, rotation = 90, fontdict = {'horizontalalignment' : 'center', 'size': 12})

#add text above the dot
for row in visits_df_orders_revenue.itertuples():
    ax.text(row.source_id - 0.3, row.total_revenue + 1100, s = round(row.total_revenue))

#### Conclusion: in revenue from sources: 1, 2, 3, 4, 5 is very similar.
#### between the range of $28000 to $34000
#### the revenue for sources: 7, 9, 10 is very low

#### calculate the ration between revenue and marketing costs:

In [ ]:
costs_df_marketing['total_revenue'] = visits_df_orders_revenue['total_revenue']

In [ ]:
costs_df_marketing['rev_to_mark'] = costs_df_marketing['total_revenue'] / costs_df_marketing['total_marketing']

In [ ]:
fig, ax = plt.subplots(figsize = (10, 5))
ax.vlines(x = costs_df_marketing.source_id, ymin = 0, ymax = costs_df_marketing.rev_to_mark, color = 'purple', alpha = 0.7, linewidth = 2)
ax.scatter(x = costs_df_marketing.source_id, y = costs_df_marketing.rev_to_mark, s = 75, color = 'black', alpha = 0.7)

#set title
ax.set_title('Lollipop Chart for revenue to marketing by sources', fontdict = {'size': 15})
#set lable for Y
ax.set_ylabel('Total revenue to marketing')
#set ticks
ax.set_xticks(costs_df_marketing.source_id)
ax.set_xticklabels(costs_df_marketing.source_id, rotation = 90, fontdict = {'horizontalalignment' : 'center', 'size': 12})

#add text above the dot
for row in costs_df_marketing.itertuples():
    ax.text(row.source_id + 0.3, row.rev_to_mark , s = round(row.rev_to_mark, 2))

#### Conclusion: source 1 earned more revenue then the cost of marketing.
#### all the rest of the sources costs more then the revenue.

### advise marketing experts how much money to invest and where.

#### Most of the new clients leave after the first month, and there is a second wave at the second month.
#### Marketing should invest in convincing new clients at the first two month to stay.

#### Sources 1, 2, 3, 4, 5 . all bring in money 
#### But only the revenue from source 1 was higher than the cost of marketing.
#### I would suggest increasing the marketing budget for source 1.
#### Cut off the budget for sources: 9, 10 . they are not making money 
#### Source 7 had no budget for marketing and did not make money.
#### Maybe this source needs to be checked out ?
#### Source 3, should also be cut off. It is making money, but it costs more than 4 times then the revenue.
#### Source 2, 4, 5 in the long run, they may become profitable. Since the costs of obtaining the clients was already paid.

#### Source 1 is the most beneficial source.
#### The marketing costs between the leading sources was the lowest for source 1 – 20800
#### And it revenue was 28000 .
#### Increase the marketing budget for source 1.